<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ca.ubc.cs.cpsc538b.replay.perspectives.ReplayPerspectiveFactory"
            id="ca.ubc.cs.cpsc538b.replay.perspective"
            name="Replay">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar ">
         <toolbar
               id="ca.ubc.cs.cpsc538b.replay.toolbar.record"
               label="Record">
            <command
                  commandId="ca.ubc.cs.cpsc538b.replay.commands.record"
                  label="Record"
                  style="toggle">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ca.ubc.cs.cpsc538b.replay.view.main">
         <command
               commandId="ca.ubc.cs.cpsc538b.replay.commands.refresh"
               icon="res/refresh.gif"
               label="Refresh"
               style="push">
         </command>
         <command
               commandId="ca.ubc.cs.cpsc538b.replay.commands.play"
               icon="res/resume_co.gif"
               label="Auto Play"
               style="toggle">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ca.ubc.cs.cpsc538b.replay.commands.RecordHandler"
            id="ca.ubc.cs.cpsc538b.replay.commands.record"
            name="Record">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            defaultHandler="ca.ubc.cs.cpsc538b.replay.commands.VoidHandler"
            id="ca.ubc.cs.cpsc538b.replay.commands.refresh"
            name="Refresh">
      </command>
      <command
            defaultHandler="ca.ubc.cs.cpsc538b.replay.commands.AutoPlayHandler"
            id="ca.ubc.cs.cpsc538b.replay.commands.play"
            name="Auto Play">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="ca.ubc.cs.cpsc538b.replay.category"
            name="Replay">
      </category>
      <view
            category="ca.ubc.cs.cpsc538b.replay.category"
            class="ca.ubc.cs.cpsc538b.replay.view.MainViewPart"
            id="ca.ubc.cs.cpsc538b.replay.view.main"
            name="Replay"
            restorable="true">
      </view>
   </extension>
  
</plugin>
